/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

body { 
	font-family: 'Comfortaa', cursive;
	letter-spacing:0;
	color:#434343;
	background:url(../img/06-25.jpg) no-repeat center fixed;
    background-repeat: no-repeat;
    background-size: cover;
	padding:20px 0;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
    
}
.title{
    width: 580px;;
    height: 300px;
    float: left;
}
h1{
    padding-top: 40px;
    margin-top: 150px;
    margin: auto;
    text-align: center;
    font-size: 53px;
    font-style: normal;
    width: 100%;
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black, 2px 2px 2px rgb(231,180,255);
    font-weight: 700;
}
.title p{  
    margin-top: 20px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: #c0d1ff;
    margin-bottom: 15px;
    line-height: 1.3em;
}
.GlobalConteiner{
    width: 1020px;
    margin: auto;
    height:620px;
    margin-top: 100px;
    padding: 10px;
}

.regestry{
    top:10%;
    width: 395px;
    height: 1730px;
    background-color: rgba(192,209,255,0.5);
    display: flex;
    justify-content: center;
    position:relative;
    border-radius: 10px 10px 0 0;
    border: 4px solid rgba(192,209,255,0.8);
    color: rgba(192,209,255,0.8);
    text-align: center;
    margin: auto;
    line-height: 1.3;
}
.battonReg{
    font-size: 25px;
    text-shadow: 1px 1px 2px black, 0 0 1em violet;
    top: 10px;
    margin: 0 auto;
    width: 450px;
    height: 60px;
    display: block;
    color: white;
    text-decoration: none;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #e8eeff #000 #273355;
    border-radius: 36px;
    background: linear-gradient(#c0d1ff, #284081) #284081;
    text-align: center;
    padding-bottom: 5px;
    padding-left: 10px;
}
.button_block{
    width: 100%;
    margin: 0 auto;    
}
.mounts {
    margin-top: 3px;
}
.battonReg p{
    font-size: 23px;
}
.battonReg:hover { 
    background: linear-gradient(#97b2f9, #3050a6) #c0d1ff;
}
.battonReg:active { background: linear-gradient(#284081, #5a73b7) #c0d1ff;}

.slideshow-container{
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 450px;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color:white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next{
	right: 8px;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}
.mySlides{
	text-align: center;
	max-height: 700px;
}
.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color:0.6s ease;

}
.active, .dot:hover{
	background-color: #717171;

}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration:1s;
	animation-name:fade;
	animation-duration:1s;
}
/*@-webkit-keyframes fade{
	0%{opacity:0.4;}
	100%{opacity:1;}
}*/
@keyframes fade{
	0%{opacity:0.4;}
	100%{opacity:1;}
}
.img_block{
    border-radius: 100px;
    border: 10px double rgb(192,209,255);
    background-color: rgba(192,209,255,0.5); 
    padding: 20px 50px;
}
.info_camp,.abo_camp{
    padding: 30px 10px 30px 30px;
    bottom: 0px;
    background-color: rgba(192,209,255,0.5);
    display: flex;
    justify-content: center;
    position:relative;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(192,209,255,0.8);
    color: rgba(192,209,255,0.8);
    text-align: center;
    margin:0 auto;
}
}
.info_camp{
}
.info_camp h1{
    width: 100%;
}
.info_camp{
    background:url(../img/mountain_PNG30.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 span{
    font-size: 30px;
}
.info_camp div{
    float: none;
    color: red;
    text-align: center;
    margin: auto;
    padding: 0;
    display: none;
}
.logan{
    margin-left: 70%;
    margin-top: -200px;
}
.fly{
    position: fixed;
    width: 400px;
    height: 300px;
}
.abo_camp{
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.abo_camp span{
    font-size: 30px;
    color: violet;
    text-shadow: 1px 1px 2px black, 2px 2px 2px rgb(231,180,255);
}